# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Data
data/raw/*
data/processed/*
data/external/*

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db